if helper.validArray(resume.education)
  div(class='margin-container-2')
    div(class='section')
      h3 Education
      hr
    div(class='container')
      each edu in resume.education
        div(class='education-entry article margin-container-1 no-break')
          span(class="dates")= helper.calcDateRange(edu.startDate, edu.endDate)
          h4(class="title")= edu.studyType + " in " + edu.area
          span(class="institution")
            a(href=edu.url)= edu.institution
          div(class="courses")
            if helper.validArray(edu.courses)
              p
                strong= "Courses: "
                |
                = edu.courses.join(', ')
          div(class="highlights")
            p=edu.highlights
